# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
local.properties

# macOS specific files
.DS_Store

# Local artifacts (not committed)
/release-out
/app/src/main/_assets_temp
